@model IEnumerable<Order>

@{
    ViewBag.Title = "Заети книги";
}

<h1>@ViewBag.Title</h1>

<form class="row g-3" asp-controller="Book" asp-action="TakenBooks" method="get">
    <div class="col">
        <input type="text" name="SearchString" class="form-control mb-3" placeholder="Заглавие, автор, издателство, читател" />
    </div>
    <div class="col">
        <input class="btn btn-primary mb-2" type="submit" value="Търси" />
    </div>
</form>

<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Читател</th>
                <th scope="col">Книга</th>
                <th scope="col">Автор</th>
                <th scope="col">Издателство</th>
                <th scope="col">Година на издаване</th>
                <th scope="col">Дата на заемане</th>
            </tr>
        </thead>
        <tbody>

            @{
                var counter = 0;
            }
            @foreach (var order in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@order.Reader.FirstName @order.Reader.LastName </td>                 
                    <td>@order.Book.Title</td>
                    <td>@order.Book.Author.Name</td>
                    <td>@order.Book.Publisher.Name</td>
                    <td>@order.Book.YearOfPublishing</td>
                    <td>@order.DateOfOrder.ToString("dd/MM/yyyy hh:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count() <= 0)
    {
        <h2 class="text-center">Няма намерени резултати</h2>
    }
</div>