@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject SignInManager<Reader> _signInManager;

@{
    bool bIsSignedIn = _signInManager.IsSignedIn(User);
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 lead">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (bIsSignedIn)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Книги</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Налични книги</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Book" asp-action="TakenBooks">Заети книги</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Book" asp-action="Create">Добави книга</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Reader" asp-action="Index" class="nav-link">Читатели</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Автори</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-area="" asp-controller="Author" asp-action="Index" class="nav-link">Налични автори</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Author" asp-action="Create">Добави автор</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown me-auto">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Издателства</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-area="" asp-controller="Publisher" asp-action="Index" class="nav-link">Налични издателства</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Publisher" asp-action="Create">Добави издателство</a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item  me-auto">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Налични книги</a>
                                </li>
                            }

                            var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            <li class="nav-item">
                                <a asp-controller="Reader" asp-action="Profile" asp-route-id="@userID" class="nav-link">@User.Identity.Name</a>
                            </li>

                            <li class="nav-item">
                                <a asp-controller="Reader" asp-action="Logout" class="nav-link">Изход</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item  me-auto">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Налични книги</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Reader" asp-action="Login" class="nav-link">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Reader" asp-action="Register" class="nav-link">Регистрация</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container lead">
            &copy; 2022 - BookStore -
            <a href="https://github.com/StefanGenev/BookStore">
                Github
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
