@model IEnumerable<Book>

@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject SignInManager<Reader> _signInManager;

@{
    ViewBag.Title = "Книги";
}

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Добре дошли в BookStore!</div>
        <div class="masthead-heading text-uppercase">Заемете книга още сега</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Налични книги</a>
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary btn-xl text-uppercase" asp-area="Book" asp-controller="Book" asp-action="Create">Добави книга</a>
        }

        @if (!_signInManager.IsSignedIn(User))
        {
            <a class="btn btn-primary btn-xl text-uppercase" asp-area="Reader" asp-controller="Reader" asp-action="Login">Вход</a>
            <a class="btn btn-primary btn-xl text-uppercase" asp-area="Reader" asp-controller="Reader" asp-action="Register">Регистрация</a>

        }
    </div>
</header>
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Налични книги</h2>
            <h3 class="section-subheading text-muted">Нашият избор, състоящ се от всякакви жанрове</h3>
        </div>
        <div class="row">
            @foreach (var book in Model)
            {
                var imagePath = "/images/" + (@book.ImagePath.Length <= 0 ? "no-image.jpg" : @book.ImagePath);
                <div class="col-sm-3 mb-4">
                    <!-- Book item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" asp-controller="Book" asp-action="View" asp-route-id="@book.Id">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><p class="fas fa-plus fa-3x">Преглед</p></div>
                            </div>
                            <img class="img-fluid card-img-top" src="@imagePath" alt="..." />
                        </a>
                        <div class="portfolio-caption card-footer">
                            <div class="portfolio-caption-heading">@book.Title</div>
                            <div class="portfolio-caption-subheading text-muted">@book.Price Лв.</div>
                            <div class="portfolio-caption-subheading text-muted">Налични копия: @book.CopiesAvailable</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>